{% extends 'menu/menu.html.twig' %}


 {% block estilos %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
  <link rel="stylesheet" href="/resources/demos/style.css"></link>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
           <Link rel="stylesheet" href="{{ asset('css/encabezado.css')}}">
           <Link rel="stylesheet" href="{{ asset('css/reporteped.css')}}">
  <script type="text/javascript">
   $(document).ready(function() {
      $('#clt').on('input', function() {
        var userText = $(this).val();
        limpiar2();
        $("#categoryname").find("option").each(function() {
          if ($(this).val() == userText) {
            validar();
          }
        })
      })
    });
function limpiar2() {
  
  if (document.getElementById('clt').value=='') {
        var clienterz='';
        var sel = document.getElementById("combocta");
        sel.remove(sel.selectedIndex);
       }
}
        var sql;
        var cliente2;
        var cuenta2;
        var hasta2='0';
        var desde2='0';
            function imprimir() {
        var filtro1;
        var filtro2;
        var filtro3;
        var filtro4;
        var filtro5;
        var filtro6;
        var cliente=document.getElementById("clt").value;
        var cuenta=document.getElementById("combocta").value;
        var hasta=document.getElementById("txthasta").value;
        var desde=document.getElementById("txtcreados").value;

              


       if (cliente==''){
          cliente2='Todos';
       }
       if (cuenta==''){
          cuenta2='Todos';

       }if (hasta==''){
          hasta2='Todos';        
       }
       if (desde ==''){
          desde2='Todos';
       }
        
      if (document.getElementById("chk1").checked){
          filtro1='Activo';
      }else{
          filtro1='Desactivado';
      }

      if (document.getElementById("chk2").checked){
          filtro2='Activo';
      }else{
          filtro2='Desactivado';
      }
      if (document.getElementById("chk3").checked){
          filtro3='Activo';
      }else{
          filtro3='Desactivado';
      }
      if (document.getElementById("chk4").checked){
          filtro4='Activo';
      }else{
          filtro4='Desactivado';
      }
      if (document.getElementById("chk5").checked){
          filtro5='Activo';
      }else{
          filtro5='Desactivado';
      }
      if (document.getElementById("chk6").checked){
          filtro6='Activo';
      }else{
          filtro6='Desactivado';
      }
      
        if (filtro1==''){
        filtro1='0';
        }
         if (filtro2==''){
        filtro2='0';
        }
         if (filtro3==''){
        filtro3='0';
        }
         if (filtro4==''){
        filtro4='0';
        }
         if (filtro5==''){
        filtro5='0';
        }
         if (filtro6==''){
        filtro6='0';
        }
        if (cliente==''){
        cliente='0';
        }
        if (cuenta==''){
        cuenta='0';
        }
         if (desde==''){
        desde='0';
        }
         if (hasta==''){
        hasta='0';
        }

       var desde1 = desde.split("/");
       var hasta1 = desde.split("/");
        window.open("sqlpd/"+cliente2+"/"+cuenta2+"/"+hasta2+"/"+desde2+"/"+cliente+"/"+cuenta+"/"+hasta1+"/"+desde1+"/"+filtro1+"/"+filtro2+"/"+filtro3+"/"+filtro4+"/"+filtro5+"/"+filtro6);
   
     }

              function limpiar() {
                location.reload();
              }

              $( function() {
                  $.datepicker.regional['es'] = {
                  closeText: 'Cerrar',
                  prevText: '< Ant',
                  nextText: 'Sig >',
                  currentText: 'Hoy',
                  monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                  monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                  dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                  dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                  dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                  weekHeader: 'Sm',
                  dateFormat: 'dd/mm/yy',
                  firstDay: 1,
                  isRTL: false,
                  showMonthAfterYear: false,
                  yearSuffix: ''
           };
           $.datepicker.setDefaults($.datepicker.regional['es']);
                $("#txtcreados" ).datepicker();
                $("#txthasta" ).datepicker();
                $("#txtcreados").datepicker('option', { dateFormat: "mm/dd/yy" });
                $("#txthasta").datepicker('option', { dateFormat: "mm/dd/yy" });

              } );

               

              function validar(e) {        
                
                    $("#restriccion").css("display", "none");
                       var clienterz= document.getElementById("clt").value;
                          if (clienterz != ''){

                            $.post("{{ path('llenarcuentas2') }}", {clienterz:clienterz}, function(mensaje) {
                            $("#txt3").html(mensaje);
                              if(mensaje[0]['restringir'] =='Restringido'){
                                $("#restriccion").show();
                                }else{
                                for (var i=0, total = mensaje.length; i < total; i++) {

                                  $("#combocta").append("<option value="+mensaje[i]['cuenta_Id']+">"+mensaje[i]['cuenta_Id']+"</option>");
                                }
                              }
                           });
                        }
                  }

                  function llenardatalist(){
                  $.post("{{ path('datalist') }}", function(mensaje) {
                  $("#txt3").html(mensaje);
                    for (var i=0, total = mensaje.length; i < total; i++) {
                        $("#categoryname").append("<option>"+mensaje[i]['razonsocial']+"</option>");
                    }
                    });
                  }


  function generar() {
        
        var filtro1;
        var filtro2;
        var filtro3;
        var filtro4;
        var filtro5;
        var filtro6;
        var cliente=document.getElementById("clt").value;
        var cuenta=document.getElementById("combocta").value;
        var hasta=document.getElementById("txthasta").value;
        var desde=document.getElementById("txtcreados").value;
       // if (cliente==''){
       //    cliente='';
       // }
       // if (cuenta==''){
       //    cuenta='Todos';

       // }if (hasta==''){
       //    hasta='Todos';        
       // }
       // if (desde ==''){
       //    desde='Todos';
       // }
        
      if (document.getElementById("chk1").checked){
          filtro1='Activo';
      }else{
          filtro1='Desactivado';
      }

      if (document.getElementById("chk2").checked){
          filtro2='Activo';
      }else{
          filtro2='Desactivado';
      }
      if (document.getElementById("chk3").checked){
          filtro3='Activo';
      }else{
          filtro3='Desactivado';
      }
      if (document.getElementById("chk4").checked){
          filtro4='Activo';
      }else{
          filtro4='Desactivado';
      }
      if (document.getElementById("chk5").checked){
          filtro5='Activo';
      }else{
          filtro5='Desactivado';
      }
      if (document.getElementById("chk6").checked){
          filtro6='Activo';
      }else{
          filtro6='Desactivado';
      }
      

       $.post("{{ path('filtros_rptped') }}",{cliente:cliente,cuenta:cuenta,hasta:hasta,desde:desde,filtro1:filtro1,filtro2:filtro2,filtro3:filtro3,filtro4:filtro4,filtro5:filtro5,filtro6:filtro6},
          function(mensaje) {
            $("#tbla").find("tr:gt(0)").remove();
            for (var i=0, total = mensaje.length; i < total; i++) {
                
             $("#tbla").append("<tr class='dev'><td style='text-align: center';>"+mensaje[i]["pedido"]+"</td><td style='text-align: center'>"+mensaje[i]["cliente"]+"</td><td style='text-align: center'>"+mensaje[i]["cuenta"]+"</td><td style='text-align: center'>"+mensaje[i]["status_pedido"]+"</td><td style='text-align: center'>"+mensaje[i]["status_pago"]+"</td><td style='text-align: center'>"+mensaje[i]["fecha"]+"</td><td style='text-align: center'>"+mensaje[i]["devolucion"]+"</td></tr>");
            }
          });


  }
</script>
{%endblock%}

{% block body %}
    <ul class="breadcrumb">
        <li><a href="{{ path('inicio_detalles')}}">Home</a></li>
        <li><a href="{{ path('reportes_inicio')}}">Reportes</a></li>
        <li><a href="">Reportes Pedidos</a></li>
    </ul>
<form method="post">
<h2>Reportes:Pedidos</h2>
<div class="div1">
  <div id="cta_comb" class="cmb-cta">
       <span  id="restriccion" style="background-color:red; display: none">RESTRINGIDO</span>
       <label class="label3" for="cliente">Cliente</label>
        <input name="clt" type="text" id="clt" autocomplete="off" list="categoryname"></input>
                <datalist id="categoryname">
                  <script type="text/javascript">
                    llenardatalist();
                  </script>
                </datalist>
  <label class="cuenta">Cuenta:</label> <select class="combocta" id="combocta" name="combocta"></select>
   <label id="lblcreados" class="creados">Creados desde</label><input name="desde" id="txtcreados" class="creadostxt" type="text" size="10">
   <label id="lblhasta" class="hasta">Hasta</label><input name="hasta" id="txthasta" class="hastatxt" type="text" size="10">
</div> 
</div>
     <div class="grupo1">
        <fieldset <fieldset style="width:240px; height:120px;">
            <legend>Status de Renta</legend>
             <div class="grupo2">
          <p>
            <input type="checkbox" id="chk1" name="chk1" value="gusta"> Emitida<br>
            <input type="checkbox" id="chk2"  name="chk2" value="gusta"> En Renta<br>
            <input type="checkbox" id="chk3"  name="chk3" value="gusta"> Pendiente Devolver<br>
            <input type="checkbox" id="chk4"  name="chk4" value="gusta"> Devuelto<br>
          </p>
             </div>
        </fieldset>
    </div>
    <div class="grupo3">
      <fieldset <fieldset style="width:240px; height:120px; margin-top: 20px;">
          <legend>Status de Pago</legend>
           <div class="grupo4">
        <p>
          <input type="checkbox" id="chk5"  name="chk5" value="gusta" > Adeudo<br>
          <input type="checkbox" id="chk6"  name="chk6" value="gusta"> Sin Adeudo<br>
        </p>
           </div>
      </fieldset>
    </div>
<div class="botones1">
 
</div>
<h3 align="center" class="tabreporte">Reporte:</h3>
<div class="div2">
  <table id="tbla" width="70%" align="center" >
    <thead>
     <tr id="consul_pedido" align="center">
         <th style="text-align: center;">Pedido</th>
         <th style="text-align: center;">Cliente</th>
         <th style="text-align: center;">Cuenta</th>
         <th style="text-align: center;">Status</th>
         <th style="text-align: center;">Status Financiero</th>
         <th style="text-align: center;">Fecha Creación</th>
         <th style="text-align: center;">Fecha Pactada Devolución</th>
     </tr>
    </thead>
       </table> 
</div>
</form>
<div class="boton">
  <input style="margin-left: 25px;" id="btnbuscar" class="btn btn-info btn-lg" type="button" value="Generar" name="buscar" onclick="generar();">
  <input style="margin-left: 25px;" id="btnlimpiar" class="btn btn-info btn-lg" type="button" value="Limpiar" name="buscar" onclick="limpiar();">
  <input style="margin-left: 25px;" id="btnlimprimir" class="btn btn-info btn-lg" type="button" value="Imprimir" name="buscar" onclick="imprimir();">

</div>
{% endblock %}
